# Виртуальное окружение
venv/
.venv/
env/

# Секреты и конфиги
config.yaml
*.env

# Кэш Python
__pycache__/
*.pyc
*.pyo

# Настройки IDE
.vscode/
.idea/

# Локальные логи
*.log

# Файлы ОС
.DS_Store
Thumbs.db
paper_trades.db


# Бэкапы и БД
*.bak*
*.bak_*
*.db
*.db-wal
*.db-shm
pairs_report.json
